<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.patient_app">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="com.samsung.android.health.permission.READ_EXERCISE" />
    <uses-permission android:name="com.samsung.android.health.permission.READ_HEALTH" />
    <uses-permission android:name="com.samsung.android.health.permission.READ_HEALTH_DATA" />
    <uses-permission android:name="com.samsung.android.health.permission.READ_HR" />
    <uses-permission android:name="com.samsung.android.health.permission.READ_STEP_COUNT" />

    <queries>
        <package android:name="com.sec.android.app.shealth" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Patient_APP.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <meta-data
            android:name="com.samsung.android.health.permission.read"
            android:value="com.samsung.health.step_count"/>

<!--        <meta-data-->
<!--            android:name="com.samsung.android.health.permission.read"-->
<!--            android:value="com.samsung.health.heartbeat"/>-->

<!--        <activity-->
<!--            android:name=".Activity.Survey_2yearActivity"-->
<!--            android:exported="false"-->
<!--            android:label="Survey_2yearActivity"-->
<!--            android:theme="@style/Theme.Patient_APP.NoActionBar">-->
<!--            <meta-data-->
<!--                android:name="android.app.lib_name"-->
<!--                android:value="" />-->
<!--        </activity>-->

<!--        <activity-->
<!--            android:name=".Activity.Survey_3yearActivity"-->
<!--            android:exported="false"-->
<!--            android:label="Survey_3yearActivity"-->
<!--            android:theme="@style/Theme.Patient_APP.NoActionBar">-->
<!--            <meta-data-->
<!--                android:name="android.app.lib_name"-->
<!--                android:value="" />-->
<!--        </activity>-->


        <activity
            android:name=".Activity.Survey_1Activity"
            android:exported="false"
            android:label="@string/title_activity_survey1"
            android:theme="@style/Theme.Patient_APP.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>